openapi: 3.0.0
info:
  title: Campaigns
  version: '1.0'
servers:
  - url: 'https://st-api.gleads.io'
    description: DEV API
paths:
  /api/private/campaigns:
    get:
      summary: Get campaigns list for a user
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  description:
                    type: string
                    minLength: 1
                  campaigns:
                    type: array
                    items:
                      $ref: '#/components/schemas/Campaign'
                  user_id:
                    type: string
                    minLength: 1
                required:
                  - code
                  - description
                  - campaigns
                  - user_id
              examples:
                Campaigns list:
                  value:
                    code: 1000
                    description: Campaigns list
                    campaigns:
                      - _key: '350020'
                        _id: campaigns/350020
                        _rev: _cNBVhEq---
                        user_id: '84304'
                        name: 'Campaign #1'
                        type: sms
                        countries:
                          - FR
                          - PT
                        created_at: '2021-04-20T19:52:41+00:00'
                        status:
                          id: SETUP
                          color: '#FF0000'
                        scheduled_start: '2021-04-20T21:52:41+00:00'
                        started:
                          date: null
                        payment: null
                        tracker_id: bbb9e12c-e14a-498a-8a97-4c3f36c1b508
                        tracker:
                          _key: bbb9e12c-e14a-498a-8a97-4c3f36c1b508
                          _id: trackers/bbb9e12c-e14a-498a-8a97-4c3f36c1b508
                          _rev: _cNBVhEi---
                          campaign_id: '350020'
                          localisation:
                            DK:
                              total: 8
                              cities:
                                Copenhagen: 8
                          global:
                            view: '8'
                          historical:
                            2021-04-20 19: '1'
                            2021-04-20 20: '7'
                      - _key: '351933'
                        _id: campaigns/351933
                        _rev: _cNCBBii---
                        user_id: '84304'
                        name: 'Campaign #2'
                        type: sms
                        countries:
                          - FR
                          - PT
                        created_at: '2021-04-20T20:40:12+00:00'
                        status:
                          id: SETUP
                          color: '#FF0000'
                        scheduled_start: '2021-04-20T22:40:12+00:00'
                        started:
                          date: null
                        payment: null
                        tracker_id: f6f934fe-9da3-41b4-80af-58e2c3275c87
                        tracker:
                          _key: f6f934fe-9da3-41b4-80af-58e2c3275c87
                          _id: trackers/f6f934fe-9da3-41b4-80af-58e2c3275c87
                          _rev: _cNCBBiW---
                          campaign_id: '351933'
                          localisation: {}
                          global: {}
                          historical: {}
                    user_id: '84304'
                Campaigns list empty:
                  value:
                    code: 1000
                    description: Campaigns list
                    campaigns: []
                    user_id: '84304'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  message:
                    type: string
                    minLength: 1
                  code:
                    type: number
                  type:
                    type: string
                    minLength: 1
                required:
                  - name
                  - message
                  - code
                  - type
              examples:
                Invalid token:
                  value:
                    name: UnAuthorizedError
                    message: Unauthorized
                    code: 401
                    type: INVALID_TOKEN
                No token provided:
                  value:
                    name: UnAuthorizedError
                    message: Unauthorized
                    code: 401
                    type: NO_TOKEN
      operationId: get-api-private-campaigns
      description: Get campaigns list for a user
      security:
        - User session: []
    post:
      summary: Create a new campaign
      operationId: post-api-private-campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  code:
                    type: number
                  description:
                    type: string
                    minLength: 1
                  campaign:
                    type: string
                    minLength: 1
                required:
                  - code
                  - description
                  - campaign
              examples:
                Campaign created:
                  value:
                    code: 1000
                    description: Campaign created
                    campaign: '351933'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                No token provided:
                  value:
                    name: UnAuthorizedError
                    message: Unauthorized
                    code: 401
                    type: NO_TOKEN
                Invalid token provided:
                  value:
                    name: UnAuthorizedError
                    message: Unauthorized
                    code: 401
                    type: INVALID_TOKEN
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  message:
                    type: string
                    minLength: 1
                  code:
                    type: number
                  type:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - type
                        - message
                        - field
                        - nodeID
                        - action
                      properties:
                        type:
                          type: string
                          minLength: 1
                        message:
                          type: string
                          minLength: 1
                        field:
                          type: string
                          minLength: 1
                        nodeID:
                          type: string
                          minLength: 1
                        action:
                          type: string
                          minLength: 1
                required:
                  - name
                  - message
                  - code
                  - type
                  - data
              examples:
                No form data push:
                  value:
                    name: ValidationError
                    message: Parameters validation error!
                    code: 422
                    type: VALIDATION_ERROR
                    data:
                      - type: required
                        message: The 'countries' field is required.
                        field: countries
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: campaigns.create
                      - type: required
                        message: The 'type' field is required.
                        field: type
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: campaigns.create
                      - type: required
                        message: The 'divisions' field is required.
                        field: divisions
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: campaigns.create
                Missing countries field:
                  value:
                    name: ValidationError
                    message: Parameters validation error!
                    code: 422
                    type: VALIDATION_ERROR
                    data:
                      - type: required
                        message: The 'countries' field is required.
                        field: countries
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: campaigns.create
                Missing divisions field:
                  value:
                    countries:
                      - FR
                      - PT
                    type: sms
                    schedule: '2021-04-18T11:22:00+1'
                Missing type:
                  value:
                    name: ValidationError
                    message: Parameters validation error!
                    code: 422
                    type: VALIDATION_ERROR
                    data:
                      - type: required
                        message: The 'type' field is required.
                        field: type
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: campaigns.create
      description: Create a new campaign
      security:
        - User session: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                countries:
                  type: array
                  items:
                    type: object
                divisions:
                  type: array
                  items:
                    type: object
                type:
                  type: string
                  minLength: 1
                schedule:
                  type: string
                  minLength: 1
              required:
                - countries
                - divisions
                - type
            examples:
              'Create a campaign in France & Portugal for divisions : Commodities & type SMS':
                value:
                  countries:
                    - FR
                    - PT
                  divisions:
                    - COMMODITIES
                  type: sms
                  schedule: '2021-04-18T11:22:00+1'
  '/api/private/campaigns/{id}':
    get:
      summary: Get campaign informations
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
              examples:
                Campaign information:
                  value:
                    _key: '398330'
                    _id: campaigns/398330
                    _rev: _cNXAVf----
                    user_id: '393663'
                    name: 'Campaign #6'
                    type: sms
                    countries:
                      - FR
                      - PT
                    created_at: '2021-04-21T14:50:24+00:00'
                    status:
                      color: '#5F05FF'
                      id: WAITING_PAYMENT
                      from_allowed:
                        - SETUP
                    scheduled_start: '2021-04-21T16:50:24+00:00'
                    started:
                      date: null
                    payment: null
                    tracker_id: 59865482-2d55-4248-b262-f0ec8bb90cfc
                    payments:
                      - 9d534b78-3699-4cd1-8ad2-80fbf01d195c
                      - 3441ecc3-2a1e-4410-97a5-0d22ae6911ca
                      - 958941ae-e153-4981-aa10-06ff8253f2b6
                      - 89e39c17-642e-4290-a2fb-f131cbbbb9a2
                      - c2856a96-13ff-4311-aff9-9821119c3d49
                      - 3f8a161d-8bcf-4574-b79f-74f6025c26cd
                      - b032b046-34e6-41ef-a78b-c98f013d78ee
                      - 95150ba9-b5cf-4b1d-9fb5-d662fa8f7536
                      - 8e1a035e-f14b-4560-8bf6-abca27174927
                    tracker:
                      _key: 59865482-2d55-4248-b262-f0ec8bb90cfc
                      _id: trackers/59865482-2d55-4248-b262-f0ec8bb90cfc
                      _rev: _cNRnIMS---
                      campaign_id: '398330'
                      localisation:
                        DK:
                          total: 1
                          cities:
                            Copenhagen: 1
                      global:
                        view: '1'
                      historical:
                        '2021-04-22T07:00:00+00:00': '1'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  message:
                    type: string
                    minLength: 1
                  code:
                    type: number
                  type:
                    type: string
                    minLength: 1
                required:
                  - name
                  - message
                  - code
                  - type
              examples:
                Invalid token:
                  value:
                    name: UnAuthorizedError
                    message: Unauthorized
                    code: 401
                    type: INVALID_TOKEN
                No token provided:
                  value:
                    name: UnAuthorizedError
                    message: Unauthorized
                    code: 401
                    type: NO_TOKEN
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  message:
                    type: string
                    minLength: 1
                  code:
                    type: number
                  type:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        minLength: 1
                    required:
                      - msg
                required:
                  - name
                  - message
                  - code
                  - type
                  - data
              examples:
                Campaign not found:
                  value:
                    name: CampaignNotFound
                    message: Campaign error
                    code: 404
                    type: CAMPAIGN_ERROR
                    data:
                      msg: Campaign not found
      operationId: 'get-api-private-campaigns-:id'
      description: Get campaign informations by ID
      security:
        - User session: []
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Campaign ID
components:
  schemas:
    Campaign:
      description: Campaign item
      type: object
      properties:
        _key:
          type: string
          minLength: 1
        _id:
          type: string
          minLength: 1
        _rev:
          type: string
          minLength: 1
        user_id:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1
        type:
          type: string
          minLength: 1
        countries:
          type: array
          items:
            required: []
            properties: {}
        created_at:
          type: string
          minLength: 1
        status:
          type: object
          properties:
            id:
              type: string
              minLength: 1
            color:
              type: string
              minLength: 1
          required:
            - id
            - color
        scheduled_start:
          type: string
          minLength: 1
        started:
          type: object
          properties:
            date: {}
          required: []
        payment: {}
        tracker_id:
          type: string
          minLength: 1
        tracker:
          type: object
          properties:
            _key:
              type: string
              minLength: 1
            _id:
              type: string
              minLength: 1
            _rev:
              type: string
              minLength: 1
            campaign_id:
              type: string
              minLength: 1
            localisation:
              type: object
              properties:
                DK:
                  type: object
                  properties:
                    total:
                      type: number
                    cities:
                      type: object
                      properties:
                        Copenhagen:
                          type: number
                      required:
                        - Copenhagen
                  required:
                    - total
                    - cities
              required:
                - DK
            global:
              type: object
              properties:
                view:
                  type: string
                  minLength: 1
              required:
                - view
            historical:
              type: object
              properties:
                2021-04-20 19:
                  type: string
                  minLength: 1
                2021-04-20 20:
                  type: string
                  minLength: 1
              required:
                - 2021-04-20 19
                - 2021-04-20 20
          required:
            - _key
            - _id
            - _rev
            - campaign_id
            - localisation
            - global
            - historical
      required:
        - _key
        - _id
        - _rev
        - user_id
        - name
        - type
        - countries
        - created_at
        - status
        - scheduled_start
        - started
        - tracker_id
        - tracker
      x-examples:
        Example campaign:
          _key: '350020'
          _id: campaigns/350020
          _rev: _cNBVhEq---
          user_id: '84304'
          name: 'Campaign #1'
          type: sms
          countries:
            - FR
            - PT
          created_at: '2021-04-20T19:52:41+00:00'
          status:
            id: SETUP
            color: '#FF0000'
          scheduled_start: '2021-04-20T21:52:41+00:00'
          started:
            date: null
          payment: null
          tracker_id: bbb9e12c-e14a-498a-8a97-4c3f36c1b508
          tracker:
            _key: bbb9e12c-e14a-498a-8a97-4c3f36c1b508
            _id: trackers/bbb9e12c-e14a-498a-8a97-4c3f36c1b508
            _rev: _cNBVhEi---
            campaign_id: '350020'
            localisation:
              DK:
                total: 8
                cities:
                  Copenhagen: 8
            global:
              view: '8'
            historical:
              2021-04-20 19: '1'
              2021-04-20 20: '7'
  securitySchemes:
    User session:
      type: http
      scheme: bearer
