openapi: 3.0.0
info:
  title: Users
  version: '1.0'
servers:
  - url: 'https://st-api.gleads.io'
    description: DEV API
paths:
  /api/users/login:
    parameters: []
    post:
      summary: User authentication
      operationId: post-api-users-login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  _key:
                    type: string
                    minLength: 1
                  _id:
                    type: string
                    minLength: 1
                  _rev:
                    type: string
                    minLength: 1
                  user_id:
                    type: string
                    minLength: 1
                  session_token:
                    type: string
                    minLength: 1
                  expired:
                    type: boolean
                  meta:
                    type: object
                    properties:
                      userAgent:
                        type: string
                        minLength: 1
                      clientIp:
                        type: string
                        minLength: 1
                      deviceHash:
                        type: string
                        minLength: 1
                    required:
                      - userAgent
                      - clientIp
                      - deviceHash
                  session_unlocked:
                    type: string
                    minLength: 1
                  verifications_access:
                    type: object
                    properties:
                      code:
                        type: number
                      critical:
                        type: boolean
                      description:
                        type: string
                        minLength: 1
                    required:
                      - code
                      - critical
                      - description
                  device_access:
                    type: object
                    properties:
                      code:
                        type: number
                      critical:
                        type: boolean
                      description:
                        type: string
                        minLength: 1
                      verification_token: {}
                    required:
                      - code
                      - critical
                      - description
                  user:
                    type: object
                    properties:
                      _key:
                        type: string
                        minLength: 1
                      _id:
                        type: string
                        minLength: 1
                      _rev:
                        type: string
                        minLength: 1
                      email:
                        type: string
                        minLength: 1
                      _created:
                        type: string
                        minLength: 1
                      _updated:
                        type: string
                        minLength: 1
                      devices:
                        type: object
                        properties: {}
                        required: []
                      verifications:
                        type: object
                        properties:
                          email:
                            type: object
                            properties:
                              _key:
                                type: string
                                minLength: 1
                              code:
                                type: string
                                minLength: 1
                              gateway:
                                type: string
                                minLength: 1
                              resolved:
                                type: string
                                minLength: 1
                              submited:
                                type: string
                                minLength: 1
                              token:
                                type: string
                                minLength: 1
                              type:
                                type: string
                                minLength: 1
                              verified:
                                type: boolean
                              user_id:
                                type: string
                                minLength: 1
                              _id:
                                type: string
                                minLength: 1
                              _rev:
                                type: string
                                minLength: 1
                            required:
                              - _key
                              - code
                              - gateway
                              - resolved
                              - submited
                              - token
                              - type
                              - verified
                              - user_id
                              - _id
                              - _rev
                        required:
                          - email
                    required:
                      - _key
                      - _id
                      - _rev
                      - email
                      - _created
                      - _updated
                      - devices
                      - verifications
                required:
                  - _key
                  - _id
                  - _rev
                  - user_id
                  - session_token
                  - expired
                  - meta
                  - session_unlocked
                  - verifications_access
                  - device_access
                  - user
              examples:
                Valid login - Account confirmed:
                  value:
                    _key: fdeabcf1-6d25-406a-830e-8980f85fc688
                    _id: sessions/fdeabcf1-6d25-406a-830e-8980f85fc688
                    _rev: _cNBR9A2---
                    user_id: '84304'
                    session_token: fdeabcf1-6d25-406a-830e-8980f85fc688
                    expired: false
                    meta:
                      userAgent: PostmanRuntime/7.26.8
                      clientIp: 45.12.221.18
                      deviceHash: UG9zdG1hblJ1bnRpbWUvNy4yNi44LS00NS4xMi4yMjEuMTg=
                    session_unlocked: '2021-04-20T19:48:47+00:00'
                    verifications_access:
                      code: 2000
                      critical: false
                      description: Verifications completed
                    device_access:
                      code: 1000
                      critical: false
                      description: User access granted
                      verification_token: null
                    user:
                      _key: '84304'
                      _id: users/84304
                      _rev: _cLatWZ----
                      email: gleadstesting-v8o20jpo79dojs8e5mvea@gleads.io
                      _created: '2021-04-15T20:17:02+00:00'
                      _updated: '2021-04-15T20:17:02+00:00'
                      devices:
                        UG9zdG1hblJ1bnRpbWUvNy4yNi44LS00NS4xMi4yMjEuMTg=:
                          id: null
                          verified: true
                          date: '2021-04-15T20:17:02+00:00'
                      verifications:
                        email:
                          _key: fafc0af6-9323-4d8b-ab1f-0426ba6fab05
                          code: bb028571-05f2-4a71-949a-1ff9c97dc42c
                          gateway: email
                          resolved: '2021-04-15T20:17:03+00:00'
                          submited: '2021-04-15T20:17:02+00:00'
                          token: fafc0af6-9323-4d8b-ab1f-0426ba6fab05
                          type: verifications
                          verified: true
                          user_id: '84304'
                          _id: verifications/fafc0af6-9323-4d8b-ab1f-0426ba6fab05
                          _rev: _cLasCTa---
                Valid Login - Require a verification:
                  value:
                    _key: 1e84f986-0ae6-404e-b1da-5e16e03f1e1c
                    _id: sessions/1e84f986-0ae6-404e-b1da-5e16e03f1e1c
                    _rev: _cNP-hwq---
                    user_id: '389775'
                    session_token: 1e84f986-0ae6-404e-b1da-5e16e03f1e1c
                    expired: false
                    meta:
                      userAgent: PostmanRuntime/7.26.8
                      clientIp: 45.12.221.18
                      deviceHash: UG9zdG1hblJ1bnRpbWUvNy4yNi44LS00NS4xMi4yMjEuMTg=
                    session_unlocked: '2021-04-21T11:46:14+00:00'
                    verifications_access:
                      code: 2100
                      critical: false
                      description: Verification required
                      verification_method: email
                      verification_infos:
                        _key: e366c059-7e03-4c91-b444-284aa8aaafd1
                        gateway: email
                        type: verifications
                        token: e366c059-7e03-4c91-b444-284aa8aaafd1
                        code: 51449a4f-ea0c-4f95-a9cf-24919a7693be
                        verified: false
                        submited: '2021-04-21T11:46:14+00:00'
                        resolved: null
                    device_access:
                      code: 1000
                      critical: false
                      description: User access granted
                      verification_token: null
                    user:
                      _key: '389775'
                      _id: users/389775
                      _rev: _cNP-dca---
                      email: gleadstesting-a0bgb2j4qhck9l4lesvsd@gleads.io
                      _created: '2021-04-21T11:46:10+00:00'
                      _updated: '2021-04-21T11:46:10+00:00'
                      devices:
                        UG9zdG1hblJ1bnRpbWUvNy4yNi44LS00NS4xMi4yMjEuMTg=:
                          id: null
                          verified: true
                          date: '2021-04-21T11:46:10+00:00'
                      verifications:
                        email:
                          _key: 37c405a7-1c21-43c8-8c7d-ceaebce6d59c
                          gateway: email
                          type: verifications
                          token: 37c405a7-1c21-43c8-8c7d-ceaebce6d59c
                          code: a884d32d-cc27-4c73-ab33-b03807b9603a
                          verified: false
                          submited: '2021-04-21T11:46:10+00:00'
                          resolved: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  message:
                    type: string
                    minLength: 1
                  code:
                    type: number
                  type:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        minLength: 1
                    required:
                      - msg
                required:
                  - name
                  - message
                  - code
                  - type
                  - data
              examples:
                Invalid credentials:
                  value:
                    name: AuthInvalidCredentialsError
                    message: Authentication error
                    code: 401
                    type: AUTH_ERROR
                    data:
                      msg: Invalid credentials
        '422':
          description: Form validation error
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  message:
                    type: string
                    minLength: 1
                  code:
                    type: number
                  type:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - type
                        - message
                        - field
                        - nodeID
                        - action
                      properties:
                        type:
                          type: string
                          minLength: 1
                        message:
                          type: string
                          minLength: 1
                        field:
                          type: string
                          minLength: 1
                        nodeID:
                          type: string
                          minLength: 1
                        action:
                          type: string
                          minLength: 1
                required:
                  - name
                  - message
                  - code
                  - type
                  - data
              examples:
                Validation error:
                  value:
                    name: ValidationError
                    message: Parameters validation error!
                    code: 422
                    type: VALIDATION_ERROR
                    data:
                      - type: required
                        message: The 'email' field is required.
                        field: email
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: users.login
                      - type: required
                        message: The 'password' field is required.
                        field: password
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: users.login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
            examples:
              Valid authentication:
                value:
                  email: test@test.com
                  password: Aa5685855
        description: ''
      description: |-
        User authentication

        -- If you a user require to pass a verification, please take a look at 'verification_access' and 'device_acess' response inside body
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
  /api/users/signup:
    post:
      summary: User signup
      operationId: post-user
      responses:
        '200':
          description: User Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  _key:
                    type: string
                    minLength: 1
                  _id:
                    type: string
                    minLength: 1
                  _rev:
                    type: string
                    minLength: 1
                  user_id:
                    type: string
                    minLength: 1
                  session_token:
                    type: string
                    minLength: 1
                  expired:
                    type: boolean
                  meta:
                    type: object
                    properties:
                      userAgent:
                        type: string
                        minLength: 1
                      clientIp:
                        type: string
                        minLength: 1
                      deviceHash:
                        type: string
                        minLength: 1
                    required:
                      - userAgent
                      - clientIp
                      - deviceHash
                  session_unlocked:
                    type: string
                    minLength: 1
                  verifications_access:
                    type: object
                    properties:
                      code:
                        type: number
                      critical:
                        type: boolean
                      description:
                        type: string
                        minLength: 1
                      verification_method:
                        type: string
                        minLength: 1
                      verification_infos:
                        type: object
                        properties:
                          _key:
                            type: string
                            minLength: 1
                          gateway:
                            type: string
                            minLength: 1
                          type:
                            type: string
                            minLength: 1
                          token:
                            type: string
                            minLength: 1
                          code:
                            type: string
                            minLength: 1
                          verified:
                            type: boolean
                          submited:
                            type: string
                            minLength: 1
                          resolved: {}
                        required:
                          - _key
                          - gateway
                          - type
                          - token
                          - code
                          - verified
                          - submited
                    required:
                      - code
                      - critical
                      - description
                      - verification_method
                      - verification_infos
                  device_access:
                    type: object
                    properties:
                      code:
                        type: number
                      critical:
                        type: boolean
                      description:
                        type: string
                        minLength: 1
                      verification_token: {}
                    required:
                      - code
                      - critical
                      - description
                  user:
                    type: object
                    properties:
                      _key:
                        type: string
                        minLength: 1
                      _id:
                        type: string
                        minLength: 1
                      _rev:
                        type: string
                        minLength: 1
                      email:
                        type: string
                        minLength: 1
                      _created:
                        type: string
                        minLength: 1
                      _updated:
                        type: string
                        minLength: 1
                      devices:
                        type: object
                        properties:
                          UG9zdG1hblJ1bnRpbWUvNy4yNi44LS00NS4xMi4yMjEuMTg=:
                            type: object
                            properties:
                              id: {}
                              verified:
                                type: boolean
                              date:
                                type: string
                                minLength: 1
                            required:
                              - verified
                              - date
                        required:
                          - UG9zdG1hblJ1bnRpbWUvNy4yNi44LS00NS4xMi4yMjEuMTg=
                      verifications:
                        type: object
                        properties:
                          email:
                            type: object
                            properties:
                              _key:
                                type: string
                                minLength: 1
                              gateway:
                                type: string
                                minLength: 1
                              type:
                                type: string
                                minLength: 1
                              token:
                                type: string
                                minLength: 1
                              code:
                                type: string
                                minLength: 1
                              verified:
                                type: boolean
                              submited:
                                type: string
                                minLength: 1
                              resolved: {}
                            required:
                              - _key
                              - gateway
                              - type
                              - token
                              - code
                              - verified
                              - submited
                        required:
                          - email
                    required:
                      - _key
                      - _id
                      - _rev
                      - email
                      - _created
                      - _updated
                      - devices
                      - verifications
                required:
                  - _key
                  - _id
                  - _rev
                  - user_id
                  - session_token
                  - expired
                  - meta
                  - session_unlocked
                  - verifications_access
                  - device_access
                  - user
              examples:
                New user created:
                  value:
                    _key: ce8bc105-896e-45ab-a8b6-1aa861528150
                    _id: sessions/ce8bc105-896e-45ab-a8b6-1aa861528150
                    _rev: _cNP-dcu---
                    user_id: '389775'
                    session_token: ce8bc105-896e-45ab-a8b6-1aa861528150
                    expired: false
                    meta:
                      userAgent: PostmanRuntime/7.26.8
                      clientIp: 45.12.221.18
                      deviceHash: UG9zdG1hblJ1bnRpbWUvNy4yNi44LS00NS4xMi4yMjEuMTg=
                    session_unlocked: '2021-04-21T11:46:10+00:00'
                    verifications_access:
                      code: 2100
                      critical: false
                      description: Verification required
                      verification_method: email
                      verification_infos:
                        _key: 37c405a7-1c21-43c8-8c7d-ceaebce6d59c
                        gateway: email
                        type: verifications
                        token: 37c405a7-1c21-43c8-8c7d-ceaebce6d59c
                        code: a884d32d-cc27-4c73-ab33-b03807b9603a
                        verified: false
                        submited: '2021-04-21T11:46:10+00:00'
                        resolved: null
                    device_access:
                      code: 1000
                      critical: false
                      description: User access granted
                      verification_token: null
                    user:
                      _key: '389775'
                      _id: users/389775
                      _rev: _cNP-dca---
                      email: gleadstesting-a0bgb2j4qhck9l4lesvsd@gleads.io
                      _created: '2021-04-21T11:46:10+00:00'
                      _updated: '2021-04-21T11:46:10+00:00'
                      devices:
                        UG9zdG1hblJ1bnRpbWUvNy4yNi44LS00NS4xMi4yMjEuMTg=:
                          id: null
                          verified: true
                          date: '2021-04-21T11:46:10+00:00'
                      verifications:
                        email:
                          _key: 37c405a7-1c21-43c8-8c7d-ceaebce6d59c
                          gateway: email
                          type: verifications
                          token: 37c405a7-1c21-43c8-8c7d-ceaebce6d59c
                          code: a884d32d-cc27-4c73-ab33-b03807b9603a
                          verified: false
                          submited: '2021-04-21T11:46:10+00:00'
                          resolved: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  message:
                    type: string
                    minLength: 1
                  code:
                    type: number
                  type:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        minLength: 1
                    required:
                      - msg
                required:
                  - name
                  - message
                  - code
                  - type
                  - data
              examples:
                Passwords are not matching:
                  value:
                    name: SignupPasswordNotMatch
                    message: Signup error
                    code: 400
                    type: SIGNUP_ERROR_PASSWORDS_NOT_MATCH
                    data:
                      msg: Passwords are not matching
                Passwords are not matching minimum policy:
                  value:
                    name: SignupPasswordNotMatchPolicy
                    message: Signup error
                    code: 400
                    type: SIGNUP_ERROR_PASSWORDS_NOT_MATCH_POLICY
                    data:
                      msg: Passwords are not matching the minimum policy
        '409':
          description: Email Already Taken
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  message:
                    type: string
                    minLength: 1
                  code:
                    type: number
                  type:
                    type: string
                    minLength: 1
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        minLength: 1
                    required:
                      - msg
                required:
                  - name
                  - message
                  - code
                  - type
                  - data
              examples:
                Email already exist:
                  value:
                    name: SignupEmailAlreadyInUse
                    message: Signup error
                    code: 409
                    type: SIGNUP_ERROR_EMAIL_ALREADY_IN_USE
                    data:
                      msg: The email is already in use in an other account
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  message:
                    type: string
                    minLength: 1
                  code:
                    type: number
                  type:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - type
                        - message
                        - field
                        - nodeID
                        - action
                      properties:
                        type:
                          type: string
                          minLength: 1
                        message:
                          type: string
                          minLength: 1
                        field:
                          type: string
                          minLength: 1
                        nodeID:
                          type: string
                          minLength: 1
                        action:
                          type: string
                          minLength: 1
                required:
                  - name
                  - message
                  - code
                  - type
                  - data
              examples:
                No data passed to the signup request:
                  value:
                    name: ValidationError
                    message: Parameters validation error!
                    code: 422
                    type: VALIDATION_ERROR
                    data:
                      - type: required
                        message: The 'email' field is required.
                        field: email
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: users.signup
                      - type: required
                        message: The 'password' field is required.
                        field: password
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: users.signup
                      - type: required
                        message: The 'password_repeat' field is required.
                        field: password_repeat
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: users.signup
                Invalid email:
                  value:
                    name: ValidationError
                    message: Parameters validation error!
                    code: 422
                    type: VALIDATION_ERROR
                    data:
                      - type: email
                        message: The 'email' field must be a valid e-mail.
                        field: email
                        actual: ok
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: users.signup
                No password & password repeat provided:
                  value:
                    name: ValidationError
                    message: Parameters validation error!
                    code: 422
                    type: VALIDATION_ERROR
                    data:
                      - type: required
                        message: The 'password' field is required.
                        field: password
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: users.signup
                      - type: required
                        message: The 'password_repeat' field is required.
                        field: password_repeat
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: users.signup
                Password repeat not provided:
                  value:
                    name: ValidationError
                    message: Parameters validation error!
                    code: 422
                    type: VALIDATION_ERROR
                    data:
                      - type: required
                        message: The 'password_repeat' field is required.
                        field: password_repeat
                        nodeID: vps-2347f1db.vps.ovh.net.novalocal-549873
                        action: users.signup
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                email:
                  type: string
                  minLength: 1
                password:
                  type: string
                  minLength: 1
                password_repeat:
                  type: string
                  minLength: 1
              required:
                - email
                - password
                - password_repeat
            examples:
              Create a new user:
                value:
                  email: email@test.com
                  password: Aa987654
                  password_repeat: Aa987654
        description: Post the necessary fields for the API to create a new user.
      description: Create a new user.
    parameters: []
components:
  schemas:
    User:
      title: User
      type: object
      description: ''
      x-examples:
        Alice Smith:
          id: 142
          firstName: Alice
          lastName: Smith
          email: alice.smith@gmail.com
          dateOfBirth: '1997-10-31'
          emailVerified: true
          signUpDate: '2019-08-24'
      properties:
        id:
          type: integer
          description: Unique identifier for the given user.
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        dateOfBirth:
          type: string
          format: date
          example: '1997-10-31'
        emailVerified:
          type: boolean
          description: Set to true if the user's email has been verified.
        createDate:
          type: string
          format: date
          description: The date that the user was created.
      required:
        - id
        - firstName
        - lastName
        - email
        - emailVerified
  securitySchemes: {}
